header{
	border-bottom: solid 1px rgba(33, 71, 91, 1);
}
header{
	height: inherit;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
}
header > div{
	height: inherit;
}
header ul{
	height: inherit;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}
header ul li{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
header div ul li a:hover{
	color: rgba(255, 255, 255, 1);
}